<div>
  <%= form_for @comment, html: { multipart: true } do |f| %>
    Comment:
    <%= f.text_field :text %>
    Attach image:
    <%= f.file_field :attachment %>
    <%= f.submit "New Comment" %>
  <% end %>
</div>
<div>
  <% @comments.each do |c| %>
    <p><%= link_to "X", c, method: :delete %>
      <%= c.user_name %>: <%= c.text %>
      <% if c.attachment.exists? %>
        <%= link_to image_tag(c.attachment.url(:thumb)), c.attachment.url %>
      <% end %>
    </p>
  <% end %>
</div>
